[submodule "Dependency/Blackbone"]
	path = Dependency/Blackbone
	url = https://github.com/DarthTon/Blackbone.git
[submodule "Dependency/unicorn"]
	path = Dependency/unicorn
	url = https://github.com/unicorn-engine/unicorn.git
[submodule "Dependency/zydis"]
	path = Dependency/zydis
	url = https://github.com/zyantific/zydis.git
